<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * is for error correction * * * * * * * * * * -->
<!-- * * * * * * * * * and the start of project  * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * If you see this page in the * * * * * * * * -->
<!-- * * * web UI, that means the auto routing didn't work * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav id="navMenu">
  <ul>
      <li><a class="menuItem" href="/home-map">WORLD MAP</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>